/* Common shared styles */
* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.primary-color {
    color: #fd6e0a;
}

.btn-primary {
    border: none;
    border-radius: 5px;
    background-color: #fd6e0a;
    color: whitesmoke;
    font-size: 24px;
    font-weight: 700;
    padding: 8px 12px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-desc{
    color: #757575;
    font-size: 18px;
    text-align: center;
    margin-bottom: 40px;
}

.section-title{
    margin-bottom: 20px;
}
/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
    padding: 30px;
}

.logo {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav > ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* Header related styles */
.header {
    background-color: #fff8f3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    margin: 30px 150px 0px 150px;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
}

.banner .banner-content {
    width: 50%;
}

.banner .banner-content > h1 {
    margin-bottom: 20px;
}


.banner .banner-content > p {
    margin-bottom: 20px;
}

.banner .display-pic {
    width: 450px;
}

.banner-greetings {
    font-size: 45px;
    color: #474747;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
}

.banner .banner-content .banner-desc {
    font-size: 18px;
    font-weight: 500;
}

.header .btn-header{
    margin-top: 20px;
}

/* Main Section Styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}


/* About Section Styles */
.about {
    padding: 130px;
    border-radius: 10px;
    background: #fff8f3;
    margin: 130px 0;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

/* What I Do Section Styles */
.activity {
        margin: 130px 0;
}

.activity-desc {
    padding: 0 100px 30px;
}

/* Skills Box */
.skills-container {
    display: flex;
    justify-content: space-between;
}

.skill{
    max-width: 200px;
    background-color: #fd6e0a;
    padding: 30px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: #181818;
}

.mongodb {
    margin-right: 0;
}





